.calendar {
    margin-top : 30px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width:490px;
    position:relative;
    height: 500px;
}

.calendar-grid {
    display:grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: 30px repeat(6,70px);
}

.calendar-grid > p {
    display:flex;
    flex-direction:column-reverse;
    text-align: center;

}
.calender-select-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
}

.calendar-select-year {
    width:60px;
    height:30px;
    position:absolute;
    left:0px;
    top:0px;
    font-size:20px;
}

.calendar-select-month {
    width:80px;
    height:40px;
    font-size:30px;
}

.calender-select-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    border:none;
    outline:none;
    background-color: transparent;
    font-family:"Poppins";
    color:white;
    font-size: 100%;
}

.calendar-grid .week-days {
    color:white;
}

.calendar-grid > button.calendar-days {
    background-color:white;
    outline:none;
    border-width:1px;
    border-color: black;
    position:relative;
}


.calendar-days .has-event {
    position:absolute;
    background-color:blueviolet;
    outline:none;
    border:none;
    height:3px;
    width:20px;
    left:25px;
    bottom:15px;
}

.calendar-grid > button.currentDate {
    background-color:blueviolet;
}