.event-map-popup {
    background-color: black;
    margin-top : 30px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    width:490px;
    height: 500px;
}
.event-map-popup-location {
    flex-direction:column;
    justify-content:center;
    align-items: left;
    width:490px;
    height:50px;
    color:white;
}

.event-map-popup-address {
    flex-direction:column;
    justify-content:center;
    align-items: left;
    width:490px;
    height:50px;
    color:white;
}

.event-map {
    height:400px;
    width:490px;
}

.event-map-popup-button {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    height: 50px;
    width:490px;
}

.event-map-popup-button > button {
    background-color: white;
    color:red;
    border-radius:5px;
    width:60px;
    height:30px;
    border:2px solid red;
    font-size:15px;
    font-family:"Poppins";
}

.event-map-popup-button > button:hover {
    background-color: red;
    color:white;
}